.clear{
  clear:both;
}

ul{
  display:inline-block;
  list-style-type: none;
}

a{
  text-decoration:none;
  color:#000;
}
a:hover{
  text-decoration: underline;
}

#menu_bar{
  width:100%;
  margin: 0;
  padding: 0;
  opacity: .75;
  font-family: Arial,sans-serif;
  font-size: 13px;
  position: relative;
}

#menu_bar li{
  float:right;
  padding: 5px 10px;
  margin: 0;
  line-height: 45px;
}

#menu_bar a{
  margin:0;
  min-width: 35px;
  min-height: 35px;
  display: block;
}

#apps{
  background: url("image.png") -130px 35px;
  opacity: .50;
}

#notifications{
  margin: 5px;
  background: url("image.png") -387px 0px;
  background-color: rgb(80, 80, 80);
  opacity: .50;
  border-radius: 100%;
}

.logo{
  width:100%;
}

.logo img{
  display:block;
  height:95px;
  margin:145px auto 20px auto;
}

.search_form{
  width:50%;
  display:block;
  margin:0 auto;
  text-align:center;
}

.search_form input{
  padding:0;
  margin:0 auto;
  display:block;
  width:570px;
  height: 25px;
  background-image: url("mic.gif");
  background-color: rgba(255, 255, 255, .5);
  background-blend-mode: color;
  background-size: 14px, 14px;
  background-repeat: no-repeat;
  background-position: 99% center;
}

.search_form button{
  background: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 8px 8px;
  color: #222;
  font-family: Arial,sans-serif;;
  font-size:11px;
  font-weight:bold;
  display: inline-block;
}

#bot_bar{
  background:#f2f2f2;
  width:100%;
  margin:0;
  position:absolute;
  bottom:0;
  left:0;
  z-index: -15;
  color:#222;
  font-family:Arial,sans-serif;
  opacity: .75;
  font-size: small;
}

#bot_left{
  float:left;
}

#bot_left li{
  list-style-type: none;
  display:inline-block;
  padding: 0 10px;
  margin:0;
}

#bot_right{
  float:right;
  margin-right:25px;
}

#bot_right li{
  list-style-type: none;
  display:inline-block;
  padding: 0 10px;
  margin:0;
}
